* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #f8f8f8;
  font-family: 'Roboto', sans-serif;
}

.cart-container {
  width: 90%; /* Increase the width to 90% of the viewport */
  max-width: 1400px; /* Increase the max-width for wider screens */
  margin: 0 auto;
  padding: 20px;
}

.cart-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

#cart-table {
  width: 100%;
  margin: 20px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  border-collapse: separate;
  border-spacing: 0 10px; /* Add space between rows */
}

#cart-table tr {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  background: #FFF;
  box-shadow: 0 0 5px rgba(0,0,0,0.1); /* Add shadow for distinct separation */
  border-radius: 6px;
}

#cart-table td {
  padding: 10px;
  border: none; /* Remove border from cells */
}

.product-info {
  display: flex;
  align-items: center;
  width: 40%;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.product-details {
  flex-grow: 1;
}

.product-details h5, .product-details p {
  margin: 0;
  color: #43484D;
}

.product-details p {
  font-size: 14px;
  color: #86939E;
  margin-top: 8px;
}

.product-price, .product-quantity, .product-remove {
  width: 20%;
  text-align: center;
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.quantity-input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.btn-quantity {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.btn-quantity:focus,
.quantity-input:focus {
  outline: 0;
}

.btn-remove {
  background: none;
  border: none;
  color: #ff0000;
  font-size: 20px;
  cursor: pointer;
}

.btn-remove:hover {
  color: #cc0000;
}

.unique-checkout-container {
  display: flex;
  justify-content: space-between; /* Adjust alignment */
  align-items: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px); /* Adjust width */
  max-width: 1200px;
}

.total-amount {
  font-size: 1.5em;
  color: #333;
}

#checkout-button {
  padding: 10px 20px;
  background-color: #fa8072;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

#checkout-button:hover {
  background-color: #ff6347;
}

@media (max-width: 800px) {
  .cart-container {
    width: 95%; /* Slightly reduce the width for mobile */
  }
  
  #cart-table tr {
      flex-wrap: wrap;
      justify-content: center;
  }

  .product-image {
      width: 50%;
  }

  .product-details, .quantity-container, .product-price, .product-remove {
      width: 100%;
      text-align: center;
      margin: 6px 0;
  }
  
  .unique-checkout-container {
    flex-direction: column; /* Stack elements vertically on mobile */
    width: 90%; /* Adjust width */
  }
  
  .total-amount {
    margin-bottom: 10px; /* Add margin to separate from button */
  }
}
